.link-button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: $color-tetli-text;
  background-color: $color-primary-white;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  cursor: pointer;

  &.primary {
    color: $color-primary-white;
    background-color: $color-accent;
  }
}
