

@media screen and (min-width: ) {
.link-button {
        padding: 10px 10px;


    }


    .link-button.primary {
        color: $color-primary-white;
        background-color: $color-accent;
    }


}