.advantages {
    padding-top: 60px;
    padding-bottom: 60px;
}

.advantages-list {
}



.advantages-item:not(:last-child) {
    margin-bottom: 30px;
}

.advantages-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $color-bg-box-card;
}

.icon-advantages {
    width: 70px;
    height: 70px;
}

.advantages-title {
    margin-bottom: 10px;

    color: $color-tetli-text;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
}