.header {
  padding-top: 10px;
  padding-bottom: 10px;
  // border-bottom: 1px solid $color-hr;

  &-nav {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    position: relative;
  }
}

.site-nav {
  margin-bottom: 60px;

  .site-item {
    @media screen and (max-width: 768px) {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  .site-link {
    display: inline-block;

    color: $color-tetli-text;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $color-accent;
    }

    &.current {
      position: relative;
    }
  }

  .current {
    color: $color-accent;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -8px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $color-accent;
    }
  }
}

.mail-nav {
  display: inline-block;

  .mail-item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    .mail-link {
      display: flex;
      justify-content: center;
      align-items: center;

      font-weight: 500;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: $color-primary-text;
      text-align: center;

      transition: color 250ms $timing-function, --color6 250ms $timing-function;

      &:focus,
      &:hover {
        color: $color-accent;
        --color5: #2196f3;
      }

      .icon-mail {
        width: 16px;
        height: 11px;
        margin-right: 10px;
      }

      .icon-smartphone {
        width: 10px;
        height: 15px;
        margin-right: 10px;
      }
    }
  }
}
