.clients {
    padding-top: 60px;
    padding-bottom: 60px;
}

.clients-title {
    margin-bottom: 30px;

    color: $color-tetli-text;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
}

.clients-list {
    @media screen and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.clients-item {
    @media screen and (min-width: 480px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }
}

// .clients-item:not(:last-child) {
//     margin-right: 30px;
// }

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 90px;
    border: 1px solid $color-border-image;
    border-radius: 4px;

    transition: border-color 250ms $timing-function, --color5 250ms $timing-function;

    &:focus,
    &:hover {
        border-color: $color-accent;
        --color5: #2196F3;
    }
}

.icon-ya_co {
    width: 44.27px;
    height: 49.23px;
}

.icon-company_tagline_here {
    width: 40px;
    height: 52px;
}

.icon-object_company {
    width: 41px;
    height: 42.6px;
}

.icon-foster_peters {
    width: 79.66px;
    height: 42.02px;
}

.icon-brand {
    width: 59px;
    height: 47px;
}

.icon-company_teg_line {
    width: 88.48px;
    height: 45.44px;
}